@import "https://www.google.com/fonts#UsePlace:use/Collection:Vollkorn";

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Vollkorn', sans-serif;
}

h1 {
  margin: 2% 0 0 4%;
}

main {
  margin: 0 auto;
  width: 1280px;
}

article {
  margin: 4% 0 4% 5%;
}

article img {
  float: left;
  padding: 1%;
  width: 300px;
  border: 2px solid #D7D7D9;
}

h2, .info, .description{
  margin-left: 29%;
  margin-top: 1%;
}

.info, .description {
  margin-bottom: 2%;
}

a {
  margin-left: 1.6%;
  color: #72aeb4;
}

article h2 {
  color: #72aeb4;
}

.info {
  font-style: italic;
}
