* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

header {
  background-image: url('images/header.jpg');
  height: 195px;
}

header h1 {
  color: #fff;
  text-align: center;
  padding-top: 90px;
}

.content {
  margin-top: 20px;
  margin-left: 130px;
  float: left;
  width: 720px;
  margin-bottom: 20px;
}

article h1 {
  padding-bottom: 5px;
  padding-top: 20px;
}

article p:first-of-type {
  margin-bottom: 5px;
}

.content article img {
  width: 720px;
  height: 370px;
}

article p:last-of-type {
  width: 720px;
}

.content button {
  background: none;
  border: 0;
  font-size: 14px;
  color: #ec5353;
  border: 1px solid #ec5353;
  border-radius: 15px;
  padding: 7px 15px 7px 15px;
  cursor: pointer;
  margin-top: 5px;
}

button:hover {
  background: #ec5353;
  color: #fff;
  border: 1px solid #ec5353;
}

aside {
  padding-left: 74px;
  padding-right: 74px;
  float: right;
}

aside h1 {
  padding-top: 26px;
}

aside img {
  margin-bottom: 5px;
  margin-top: 30px;
  width: 300px;
  height: 150px;
}

aside p {
  width: 350px;
}
