* {
  margin: 0;
  padding: 0;
}

body {
  font-family: OpenSans-ExtraBol, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #F0F0E8;
}

 header h1 {
   margin: 2% 0;
   font-size: 56px;
   text-align: center;
   font-weight: 700;
   color: #009288;
 }

header h2, h3 {
  margin: 1% 0;
  text-align: center;
  color: #666;
  font-weight: 800;
}

main {
  margin: 5% 12%;
}

article {
  width: 220px;
  float: left;
  padding: 10px;
  border-left: solid  10px #F0F0E8;
}

article img {
  margin: 15% 40% 0 40%;
  padding: 3%;
}

article h2 {
  color: #666;
  font-weight: 700;
  text-align: center;
  padding: 8% 5%;;
}

article p {
  text-align: center;
  padding: 2% 8% 20% 8%;
}

article:hover {
  background: #ffffff;
    border-left: solid  10px #009288;
    cursor: pointer;
}
