@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

header {
    color: #FFFFFF;
    background: radial-gradient(ellipse at center,
    rgba(192, 169, 145, 1) 0%,
    rgba(192, 169, 145, 1) 59%,
    rgba(168, 143, 121, 1) 100%);
}

nav {
    width: 100%;
    color: #FFFFFF;
}

nav p {
    width: 10%;
    font-weight: bold;
    display: inline;
    float: left;
    color: #FFFFFF;
    margin: 2%;
}

nav ul {
    margin-top: 2%;
    margin-right: 2%;
    text-align: right;
    width: 32%;
    display: inline-block;
    float: right;
}

nav ul li {
    display: inline-block;
    margin: 2%;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

li.nav-item.button-cta a {
    border: solid 1px #FFFFFF;
    padding: 5px 10px;
    border-radius: 20px;
}

li.nav-item.button-cta a:hover {
cursor: pointer;
    background: rgb(134,114,96);
}

header h1 {
    text-transform: capitalize;
    padding-top: 16%;
    font-size: 3rem;
    display: block;
    text-align: center;
}

header h3 {
    text-transform: capitalize;
    padding-top: 2%;
    font-size: 1rem;
    display: block;
    text-align: center;
}

header img {
    height: 25rem;
    padding-top: 2%;
    display: block;
    margin: auto;
}

header:after {
    content: '';
    display: block;
    clear: both;
}

main div.features {
    background: url("images/potato-background.png") no-repeat center;
}

main div.features h1 {
    text-transform: capitalize;
    padding-top: 16%;
    font-size: 2rem;
    display: block;
    text-align: center;
    font-weight: lighter;
}

main div.features h3 {
    text-transform: capitalize;
    padding-top: 2%;
    font-size: 1rem;
    display: block;
    text-align: center;
    font-weight: lighter;
}

main div.features img {
    height: 25rem;
    padding-top: 2%;
    display: block;
    margin: auto;
}

main div.buy-now h1 {
    text-transform: capitalize;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 2rem;
    display: block;
    text-align: center;
    font-weight: lighter;
}

main div.buy-now ul.potato-types {
    width: 60%;
    margin: auto;
}

main div.buy-now ul.potato-types li.potato {
    display: inline-block;
    width: 32%;
    border-right: solid 1px gray;
}

main div.buy-now ul.potato-types li.potato {
    text-align: center;
    font-weight: lighter;
}

main div.buy-now ul.potato-types li.potato ul {
    list-style-type: none;
}

main div.buy-now ul.potato-types li.potato h3 {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: lighter;
    padding-bottom: 5%;
}

main div.buy-now ul.potato-types li.potato ul li {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: lighter;
    padding-bottom: 10%;

}

button.btn-order {
    color: rgb(154, 205, 50);
    background: #FFFFFF;
    border: solid 1px rgb(154, 205, 50);
    padding: 5px 20px;
    border-radius: 15px;
    text-transform: uppercase;
    margin-bottom: 5%;
}

button.btn-order:hover {
    color: #FFFFFF;
    background: rgb(154, 205, 50);
    cursor: pointer;
}

ul p.potato-price {
    margin-bottom: 10%;
}

main div.buy-now img {
    width: 120px;
}

footer {
    background: rgb(134, 114, 96);
    color: #FFFFFF;
    padding: 1%;
    text-align: center;
    margin-top: 3%;
}
