@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

body > header {
  padding-top: 20px;
  background-image: url('images/Layer-759_02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 20px);
}

nav {
  background: rgba(199, 157, 99, 0.75);
  width: 1100px;
  margin: 0 auto;
}

nav ul {
  height: 60px;
}

nav ul.nav-primary {
  height: 60px;
  display: flex;
  justify-content: center;
}

.nav-item {
  line-height: 60px;
  margin: 0 70px 0 auto;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
}

.home.nav-item {
  margin-left: 30px;
  opacity: 0.7;
}

.consulting-rev {
  width: 500px;
  margin: 0 auto;
  color: #fff;
}

.consulting-rev h1 {
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

.consulting-rev p {
  font-size: 24px;
  text-align: center;
}

.consulting-rev a {
  margin: 20px auto;
  display: block;
  width: 120px;
  height: 25px;
  background: #090821;
  padding: 10px;
  line-height: 25px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
}

.consulting-rev i {
  color: #c79d63;
}

.consulting-rev a:hover,
.consulting-rev a:hover .fa-chevron-right {
  background: #c79d63;
  color: #090821;
  cursor: pointer;
}


.industries h2 {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.industries section {
  text-align: center;
  margin-top: 50px;
}

article {
  width: 25%;
  display: inline-block;
  margin-left: 18px;
}

.industries > header > h2 {
  font-size: 50px;
  margin-top: 40px;
  text-align: center;
}

.industries .icon {
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #090821;
  color: #fff;
  border-radius: 50%;
  margin-right: 7px;
}

.industries p {
  font-size: 16px;
  margin: 10px 0 0;
  text-transform: none;
  color: #000;
  text-align: left;
}

.banner {
  padding-top: 35px;
  padding-bottom: 46px;
  margin-top: 40px;
  display: block;
  position: relative;
}

.banner::after {
  content: "";
  background: url('images/steel-bg.jpg') center center;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.banner h5 {
  text-align: center;
  font-size: 24px;
  width: 520px;
  margin: 0 auto;
}

.banner span {
  color: #c79d63;
}

.traders {
  padding-top: 35px;
  padding-bottom: 46px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/background-choose-us.jpg') no-repeat center;
  background-size: cover;
}

.traders h2 {
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
}

.traders .article-container {
  display: flex;
  justify-content: center;
}

.traders .article-container a {
  margin-right: 30px;
  padding: 20px;
  width: 300px;
  border: 2px solid #c79d63;
  text-align: center;
  text-decoration: none;
}

.traders .article-container h4,
.traders .article-container p {
  color: #fff;
  margin: 0 0 17px 17px;
}

.traders .article-container {
  padding-top: 21px;
  font-size: 20px;
}

.traders .article-container p {
  font-size: 13px;
  line-height: 18px;
}

.traders .article-container a:hover,
.traders .article-container a:hover p,
.traders .article-container a:hover h4 {
  background: #fff;
  color: #090821;
}

.consulting-woman {
  background-image: url('images/consulting-woman.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 600px;
}

.consulting-woman .testemonial-info {
  position: absolute;
  top: 70px;
  right: 40px;
  width: 500px;
  padding: 64px 60px 53px 60px;
  background: rgba(255, 255, 255, 0.7);
}

.consulting-woman .testemonial-info > p::after,
.consulting-woman .testemonial-info > p::before {
  content: open-quote;
  color: #c79d63;
  font-size: 32px;
}

.consulting-woman .testemonial-info > p::after {
  content: close-quote;
}

.consulting-woman .testemonial-info footer {
  margin-top: 20px;
  float: left;
}

.consulting-woman .testemonial-info footer h4 {
  font-size: 24px;
  margin-top: 20px;
  padding: 5px;
}

.consulting-woman .testemonial-info footer  p {
  font-size: 14px;
  color: #777;
  padding: 5px;
}

footer {
  height: 280px;
  background: rgb(9, 8, 33);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;
}

.partners {
  height: 90px;
  margin-top: 45px;
}

.partners ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.partners img {
  width: 135px;
  height: 60px;
}

footer h2 {
  color: #fff;
  margin-left: 20px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

footer .info li {
  list-style-type: none;
  color: #fff;
  width: 180px;
  margin-top: 20px;
  margin-left: 20px;
}

footer .info li i {
  font-size: 16px;
}

.socials {
  display: flex;
  justify-content: center;
  width: 153px;
}

.socials li {
  width: 200px;
}

.socials a {
  display: block;
  width: 32px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  background: rgb(131, 131, 143);
  color: #090821;
}

.extra-links ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 148px;
  width: 200px;
}

.extra-links ul li {
  display: block;
  padding: 5px;
}

.extra-links ul li a {
  color: #c79d63;
  text-decoration: none;
}

.instagram-widget ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
}

.instagram-widget img {
  width: 100px;
  height: 100px;
}
